:root {
  --section-gap: 6rem;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

.navbar {
    background: #131313;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar__container {
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin: 0 auto;
padding: 0 30px;
}

#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 450px;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}



.navbar__links:hover {
    color: #ED213A;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    :root {
    --section-gap: 3rem;
  }
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }




    #mobile-menu {
        position: absolute;
        top: 31%;
        right: 5%;
        width: 50px;
        height: 50px;
        transform: translate(5%, 20%);
        cursor: pointer;
    }

    .navbar__toggle .bar {
        display: block;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

html, body {
padding-top: 100px;
  margin: 0;
  height: 100%;
}

@media screen and (max-width: 960px) {
  html, body {
    padding-top: 90px;
  }
}

@media screen and (max-width: 960px) {
  .hero__container,
  .main__container,
  .contact__container {
    min-height: auto;
    padding: 30px 20px;
  }

  .hero__content p,
  .main__content p,
  .contact__content p,
  .big-link {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 960px) {
  .hero__container,
  .main__container,
  .contact__container {
    border-radius: 40px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}



/* Slideshow container */
.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Each slide */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: fade 110s infinite;
  opacity: 0;
}

/* Background images */
.slide1 {
  background-image: url("./images/2.jpg");
  animation-delay: 0s;
}
.slide2 {
  background-image: url("./images/3.jpg");
  animation-delay: 5s;
}
.slide3 {
  background-image: url("./images/4.jpg");
  animation-delay: 10s;
}
.slide4 {
  background-image: url("./images/5.jpg");
  animation-delay: 15s;
}
.slide5 {
  background-image: url("./images/6.jpg");
  animation-delay: 20s;
}
.slide6 {
  background-image: url("./images/7.jpg");
  animation-delay: 25s;
}
.slide7 {
  background-image: url("./images/8.jpg");
  animation-delay: 30s;
}
.slide8 {
  background-image: url("./images/9.jpg");
  animation-delay: 35s;
}
.slide9 {
  background-image: url("./images/11.jpg");
  animation-delay: 40s;
}
.slide10 {
  background-image: url("./images/12.jpg");
  animation-delay: 45s;
}
.slide11 {
  background-image: url("./images/13.jpg");
  animation-delay: 50s;
}
.slide12 {
  background-image: url("./images/14.jpg");
  animation-delay: 55s;
}
.slide13 {
  background-image: url("./images/image.jpg");
  animation-delay: 60s;
}
.slide14 {
  background-image: url("./images/16.jpg");
  animation-delay: 65s;
}
.slide15 {
  background-image: url("./images/17.jpg");
  animation-delay: 70s;
}
.slide16 {
  background-image: url("./images/18.jpg");
  animation-delay: 75s;
}
.slide17 {
  background-image: url("./images/19.jpg");
  animation-delay: 80s;
}
.slide18 {
  background-image: url("./images/21.jpg");
  animation-delay: 85s;
}
.slide19 {
  background-image: url("./images/22.jpg");
  animation-delay: 90s;
}
.slide20 {
  background-image: url("./images/23.jpg");
  animation-delay: 95s;
}
.slide21 {
  background-image: url("./images/24.jpg");
  animation-delay: 100s;
}
.slide22 {
  background-image: url("./images/25.jpg");
  animation-delay: 105s;
}



/* Fade animation */
@keyframes fade {
  0% { opacity: 0; }
  5% { opacity: 1; }
  9% { opacity: 1; }
  10% { opacity: 0; }
  100% { opacity: 0; }
}





/* Hero Section */

.hero__container {
    margin-top: var(--section-gap);
    margin-bottom: var(--section-gap);
    margin-left: auto;
    margin-right: auto;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,#000000, #000000, #2C2C2C, #0A0A0E, #0A0A0E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#000000, #000000, #2C2C2C, #0A0A0E, #0A0A0E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    border-radius: 200px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    min-height: 90vh;
    text-align: left;
    padding: 80px;
}


.hero__heading {
    font-size: 85px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
}

.hero__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1300px;
    height: 90%;
    text-align: left;
    padding: 30px;
   
    }


.text__block {
    max-width: 600px; 
}

.hero__content p {
    color: #fff;
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 4.4rem;
}


.highlight {
    border-bottom: 4px solid #ED213A;
}

@media screen and (max-width: 960px) {
    :root {
    --section-gap: 3rem;
  }
    .hero__heading {
        font-size: 60px;
    }

}

/* About Section */

.main__container {
    margin-top: var(--section-gap);
    margin-bottom: var(--section-gap);
    margin-left: auto;
    margin-right: auto;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,#000000, #000000, #2C2C2C, #0A0A0E, #0A0A0E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#000000, #000000, #2C2C2C, #0A0A0E, #0A0A0E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    border-radius: 200px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    min-height: 90vh;
    text-align: left;
    padding: 80px;
}


.main__heading {
    font-size: 85px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
}

.main__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1300px;
    height: 90%;
    text-align: left;
    padding: 30px;
   
    }



.text__block3 {
    max-width: 1300px; 
}

.RedText {
  color: #ED213A
}


.main__content p {
    color: #fff;
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 2rem;
}




@media screen and (max-width: 960px) {
    :root {
    --section-gap: 3rem;
  }
    .main__heading {
        font-size: 60px;
    }

}


/* Contact Section */

.contact__container {
    margin-top: var(--section-gap);
    margin-bottom: var(--section-gap);
    margin-left: auto;
    margin-right: auto;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,#000000, #000000, #2C2C2C, #0A0A0E, #0A0A0E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#000000, #000000, #2C2C2C, #0A0A0E, #0A0A0E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    border-radius: 200px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    min-height: 90vh;
    text-align: left;
    padding: 80px;
}


.contact__heading {
    font-size: 85px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
}

.contact__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1300px;
    height: 90%;
    text-align: left;
    padding: 30px;
   
    }
  
  .contact__content iframe {
    width: 100%;
    max-width: 100%;
    height: 300px;
    border-radius: 20px;
    }



.big-link {
    font-size: 2.2rem;
}
.text__block5 {
    max-width: 800px; 
}



.contact__content p {
    color: #fff;
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 2rem;
}




@media screen and (max-width: 960px) {
    :root {
    --section-gap: 3rem;
  }
    .contact__heading {
        font-size: 60px;
    }

}


@media screen and (max-width: 960px) {
  .contact__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text__block5 {
    max-width: 100%;
  }
}

@media screen and (max-width: 960px) {

  body {
    font-size: 16px;
  }

  /* Navbar */
  #navbar__logo img {
    width: 200px;
    height: auto;
  }

  #mobile-menu {
    top: 35%;
  }

  /* Containers */
  .hero__container,
  .main__container,
  .contact__container {
    width: 90%;
    max-width: 90%;
    padding: 22px 18px;
    margin: 2.3rem auto;
    border-radius: 70px;
    min-height: auto;
  }

  /* Headings */
  .hero__heading,
  .main__heading,
  .contact__heading {
    font-size: 48px;
    margin-bottom: 25px;
  }

  /* Content layout */
  .hero__content,
  .main__content,
  .contact__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    gap: 30px;
  }

  /* Text */
  .hero__content p,
  .main__content p,
  .contact__content p,
  .big-link {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 600;
  }

  /* Contact spacing */
  .text__block4,
  .text__block5 {
    padding: 0 10px;
  }

  /* Images */
  img {
    max-width: 100%;
    height: auto;
  }
  

  /* Map */
.contact__content iframe {
  width: 95%;
  max-width: 95%;
  height: 220px;
  border-radius: 18px;
  margin: 10px auto 0;
  display: block;
}


/* Extra breathing room for long links (email) */
.big-link {
  font-size: 1.15rem;
  padding: 0 8px;
  word-break: break-word;
  overflow-wrap: break-word;
}


}

    